*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.header{
    background: url(images/bgg.jpg) no-repeat;
    background-size: cover;
    width: auto;
    height: 650px;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

img {
    width: 300px;
}

ul.menu {
    margin: 15px;
    padding: 0 15px;
}

ul.menu li {
    padding: 0 15px;
    display: inline-block;
}

ul.menu li a {
    text-decoration: none;
    color: #0da7d7;
    transition: 0.5s;
}
ul.menu li a:hover {
    text-decoration: none;
    color: blue;
}
h1 {
    color: #0da7d7;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

p {
    color: #0da7d7;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

p.button {
    background-color: #0da5d5;
    text-align: center;
    border: 1px solid #b8cacf;
    margin: 12px 610px;
    padding: 7px;
    color: white;
    border-radius: 18px;
    cursor: pointer;
}
p.button:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}